// Navigation code here
.nav {
    .flex();
    flex-flow: column;
    background-color: @nav-bg;
    color: @river-bend;
    border: solid 2px @sea-shell;
    width: 100%;
    h1 {
        padding: 10px;
    }
    nav {
        width: 30%;
        padding: 10px;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;  
    }
    a {
        text-decoration: none;
        color: @river-bend;
    }
}